{% extends 'preferences/base.html' %} {% block content %}
<div class="container">
  {% block error %}
  {% endblock %}
  <p>id: {{userpreferences.id}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Subreddits</h3>
      </div>
      <div class="panel-body">
          <ul class="list-group">
            {% for sub in userpreferences.sub.all %}
            <li class="list-group-item clearfix">
              <form class="form-inline" action="delete_subreddit/" method="POST">{% csrf_token %}
                <label>
                  {{ sub.name }}
                </label>
                <input type="hidden" name="id" value="{{ sub.id }}">
                <input class="btn btn-danger pull-right" type="submit" value="Delete">
              </form>
            </li>
            {% endfor %}
          </ul>
        <form class="form-inline" action="update_subreddits/" method="POST">{% csrf_token %}
          <div class="form-group">
            <input type="text" name="sub" value="" class="form-control">
            <input class="btn" type="submit" value="+">
          </div>
        </form>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Hours between posts</h3>
      </div>
      <div class="panel-body">
        <form class="form-inline clearfix" action="update_time/" method="POST">{% csrf_token %}
          <div class="form-group">
            <input type="range" class="pull-left" name="time" value="{{ userpreferences.time }}" min="1" max="24" oninput="outputUpdate(value)">
            <label class="label label-info pull-right" for="time" id="output">hours: {{ userpreferences.time }}</label>
          </div>
          <input class="btn" type="submit" value="Update">
        </form>
      </div>
    </div>
</div>
<script type="text/javascript">
  function outputUpdate(num) {
    document.querySelector('#output').value = num;
  }
</script>
{% endblock %}
